{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/gmjDetail.css' %}">
{% endblock head%}

{% block headercontent %}

{% endblock %}


{% block content %}
<div class="div-header">
    <div class="container-title">
        <h1>{{gamejam_detail.title}}</h1>
        <p>Тема: {{gamejam_detail.theme}}</p>
    </div>
    <!-- Название -->
</div>
<!--Вывод страницы джема-->
<div class="jam-container">
    <div class="container-date">
        {{gamejam_detail.date_start}}
        <br>
        {{gamejam_detail.date_end}}
        <!-- Даты конца и начала -->


    </div>
    <div class="countdown-container">
        {% if gamejam_detail.status == 'PR' %}
        <h2 class="countdown-status">Джем начнется через:</h2>
        {% elif gamejam_detail.status == 'OG' %}
        <h2 class="countdown-status">Джем закончится через:</h2>
        {% elif gamejam_detail.status == 'FN' %}
        <h2 class="countdown-status">Джем окончен</h2>
        {% endif %}

        {% if gamejam_detail.status != 'FN' %}
        <div id="countdown">
            <ul>
                <li class="countdown-element"><span id="days"></span>Дней</li>
                <li class="countdown-element"><span id="hours"></span>Часов</li>
                <li class="countdown-element"><span id="minutes"></span>Минут</li>
                <li class="countdown-element"><span id="seconds"></span>Секунд</li>
            </ul>
        </div>
    </div>
    {% endif %}

    {% for user_game in user_games %}
    {{ user_game.user.username }}
    <a href="{% url 'download_file' gamejam_detail.uuid user_game.id %}">
        {{ user_game.cleaned_name }}</a>
    {% if gamejam_detail.status == 'OG' %}


    {% if request.user in gamejam_detail.users.all %}
    {% if request.user != user_game.user %}
    <form action="{% url 'count_stars' gamejam_detail.uuid user_game.user.id %}" method="post">
        {% csrf_token %}
        <select name="stars" id="rating">
            <option value="1">1 Звезда</option>
            <option value="2">2 Звезды</option>
            <option value="3">3 Звезды</option>
            <option value="4">4 Звезды</option>
            <option value="5">5 Звёзд</option>
        </select>
        <button type="submit">Отправить оценку</button>
    </form>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}
    <!-- Перечень игр (файлы), пользователь, возможность оценивая, отправить -->

    <!-- Ср оценка -->
    {% if gamejam_detail.status == 'FN' %}

    Победитель: {{gamejam_detail.winner}}
    {% endif %}
    <!-- Тема и побеждатель -->
    {% if gamejam_detail.status == 'OG' %}
    {{gamejam_detail.theme}}
    {% if request.user in gamejam_detail.users.all %}
    <form action="{% url 'upload-game' gamejam_detail.uuid %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="game">
        <input type="hidden" name="jam_uuid" value="{{gamejam_detail.uuid}}">
        <button type="submit" class="btn btn-secondary">Отправить</button>
    </form>
    {% else %}
    <h2>Вы не можете загружать свои работы, так как вы не участник джема</h2>
    {% endif %}
    {% endif %}
    <!-- Загрузка -->
    {% if gamejam_detail.status == 'PR' %}
    {% if request.user.is_authenticated and request.user not in gamejam_detail.users.all %}
    <a href="poll" class="a-button">Принять участие</a>
    {% elif request.user.is_authenticated == False %}
    <h2>Вы не вошли в свой аккаунт</h2>
    {% else %}
    <h2>Вы участник джема, дождитесь даты начала</h2>
    {% endif %}
    {% endif %}
    <!-- Принять участие -->

    {% if gamejam_detail.status == 'FN' %}
    <table>
        <thead>
        <tr>
            <th>Имя</th>
            <th>Средняя оценка</th>
        </thead>
        <tbody>
        {% if final_rating.current_user_rating %}
        <tr>
            <td> {{ final_rating.current_user_rating.user__username }}</td>
            <td> {{ final_rating.current_user_rating.avg_rating }}</td>
        </tr>
        {% endif %}

        {% for rating in final_rating.all_rating %}
        <tr>
            {% if rating.username == user_game.user %}
            <td> {{ rating.user__username }}</td>
            <td> {{ rating.avg_rating }}</td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

{% if gamejam_detail.status != 'FN' %}
<script>
    {% if gamejam_detail.status == 'PR' %}
    var countDownDate = new Date("{{ gamejam_detail.date_start|date:'Y-m-d H:i:s' }}").getTime();
    {% elif gamejam_detail.status == 'OG' %}
    var countDownDate = new Date("{{ gamejam_detail.date_end|date:'Y-m-d H:i:s' }}").getTime();
    {% endif %}

    function updateCountdown() {
        var now = new Date().getTime();
        var distance = countDownDate - now;

        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        document.getElementById("days").innerHTML = days;
        document.getElementById("hours").innerHTML = hours;
        document.getElementById("minutes").innerHTML = minutes;
        document.getElementById("seconds").innerHTML = seconds;

        if (distance < 0) {
            clearInterval(x);
            {% if gamejam_detail.status == 'OG' %}
            document.getElementById("countdown").style.display = "none";
            document.getElementsByClassName("countdown-status")[0].innerHTML = "Джем окончен";
            {% elif gamejam_detail.status == 'PR' %}
            document.getElementById("countdown").style.display = "none";
            document.getElementsByClassName("countdown-status")[0].innerHTML = "Джем начался";

            //window.location.reload(); // опасная штука, но в теории будет лучше всего работать
            // если на сервере поменяется статус джема, иначе дудос запросами
            // нам нужен cron/celery beat для автоматической смены статуса когда наступает время
            {% endif %}
        }
    }

    updateCountdown();

    var x = setInterval(updateCountdown, 1000);
</script>
{% endif %}

{% endblock content %}

