{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/gmjDetail.css' %}">
<link rel="stylesheet" href="{% static 'css/popup.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet">

{% endblock %}


{% block headercontent %}

{% endblock %}


{% block content %}
<div class="div-header">
    <div class="container-title">
        <h1>{{gamejam_detail.title}}</h1>
        <p>Тема: {{gamejam_detail.theme}}</p>
    </div>
    <span class="del"></span>
    <div class="date">
        <div class="countdown-container">

            <div id="countdown">
                <div class="container-date">
                    {{gamejam_detail.date_start}}
                    по
                    {{gamejam_detail.date_end}}
                    <!-- Даты конца и начала -->
                </div>
                <ul id="countdown-list">
                    <li class="countdown-element"><span id="days"></span><p>Дней</p></li>
                    <li class="countdown-element"><span id="hours"></span><p>Часов</p></li>
                    <li class="countdown-element"><span id="minutes"></span><p>Минут</p></li>
                    <li class="countdown-element"><span id="seconds"></span><p>Секунд</p></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--Вывод страницы джема-->
<div class="jam-container">
    <div class="jam-status-container">
<!--        Статус джема / Кнопка принятия участия / Загрузка игры        -->
        {% if gamejam_detail.status == 'FN' %}
                    <h2 class="countdown-status">Джем окончен</h2>
        {% elif gamejam_detail.status == 'PR' %}
                    {% if request.user.is_authenticated and request.user not in gamejam_detail.users.all %}
                        <a href="poll" class="button">Принять участие</a>
                    {% elif not request.user.is_authenticated  %}
                        <h2 style="text-align: center">Вы не вошли в свой аккаунт</h2>
                    {% else %}
                        <h2 style="text-align: center">Вы участник джема, дождитесь даты начала</h2>
                    {% endif %}
        {% elif gamejam_detail.status == 'OG' %}
                    {% if request.user in gamejam_detail.users.all %}
                        <a class="button" href="#popup1">Загрузить игру</a>
                    {% else %}
                        <h2>Вы не можете загружать свои работы, так как вы не участник джема</h2>
                    {% endif %}
        {% endif %}
    </div>

    <!--    Таблица джема    -->
    {% if gamejam_detail.status != 'PR' %}
    <div class="upl-container">
        <table class="games-table">
            <thead>
                <tr>
                    <th>Ранг</th>
                    <th>Автор</th>
                    <th>Игра</th>
                    <th>Оценка</th>
                </tr>
            </thead>
            <tbody>
                {% for user_game in user_games %}
                <tr>
                    <td class="rank">{{forloop.counter}}</td>
                    <td class="username">{{ user_game.user.username }}</td>
                    <td>
                        <a href="{% url 'download_file' gamejam_detail.uuid user_game.id %}">
                            {{ user_game.cleaned_name }}
                        </a>
                    </td>
                    <td>
                        {% if gamejam_detail.status == 'OG' and request.user in gamejam_detail.users.all and request.user != user_game.user %}
                        <form action="{% url 'count_stars' gamejam_detail.uuid user_game.user.id %}" method="post" class="rating-form">
                            {% csrf_token %}
                            <select name="stars" id="rating">
                                <option value="5">★★★★★</option>
                                <option value="4">★★★★</option>
                                <option value="3">★★★</option>
                                <option value="2">★★</option>
                                <option value="1">★</option>
                            </select>
                            <button type="submit" class="btn-rate">Оценить</button>
                        </form>
                        {% else %}
                        {{ user_game.avg_rating }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    <!-- Перечень игр (файлы), пользователь, возможность оценивая, отправить -->

    <!--{ endif %}-->

    <!-- Ср оценка -->
    <!-- {% if gamejam_detail.status == 'FN' %}
    Победитель: {{gamejam_detail.winner}}
    {% endif %} -->
    <!-- Тема и побеждатель -->



    <!-- {% if gamejam_detail.status == 'FN' %}
    <table>
        <thead>
        <tr>
            <th>Имя</th>
            <th>Средняя оценка</th>
        </thead>
        <tbody>
        {% if final_rating.current_user_rating %}
        <tr>
            <td> {{ final_rating.current_user_rating.user__username }}</td>
            <td> {{ final_rating.current_user_rating.avg_rating }}</td>
        </tr>
        {% endif %}

        {% for rating in final_rating.all_rating %}
        <tr>
            {% if rating.username == user_game.user %}
            <td> {{ rating.user__username }}</td>
            <td> {{ rating.avg_rating }}</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %} -->
</div>


<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('.upl-card-container').forEach(card => {
            card.addEventListener('click', function(event) {
                console.log("Clicked:", this); // Проверяем, срабатывает ли клик
                if (event.target === this || event.target.tagName === 'H5') {
                    this.classList.toggle('open');
                }
                console.log("Class list:", this.classList); // Проверяем, меняется ли класс
            });
        });
});
</script>

<script>
    var countDownDate = 0;
    {% if gamejam_detail.status == 'PR' %}
    var countDownDate = new Date("{{ gamejam_detail.date_start|date:'Y-m-d H:i:s' }}").getTime();
    {% elif gamejam_detail.status == 'OG' %}
    var countDownDate = new Date("{{ gamejam_detail.date_end|date:'Y-m-d H:i:s' }}").getTime();
    {% endif %}

    function updateCountdown() {
        var now = new Date().getTime();
        var distance = countDownDate - now;

        var days = Math.max(0, Math.floor(distance / (1000 * 60 * 60 * 24)));
        var hours =  Math.max(0, Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)));
        var minutes =  Math.max(0, Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)));
        var seconds =  Math.max(0, Math.floor((distance % (1000 * 60)) / 1000));

        document.getElementById("days").innerHTML = days;
        document.getElementById("hours").innerHTML = hours;
        document.getElementById("minutes").innerHTML = minutes;
        document.getElementById("seconds").innerHTML = seconds;

        if (distance < 0) {
            clearInterval(x);
            // {% if gamejam_detail.status == 'OG' %}
            // document.getElementsByClassName("countdown-status")[0].innerHTML = "Джем окончен";
            // {% elif gamejam_detail.status == 'PR' %}
            // document.getElementsByClassName("countdown-status")[0].innerHTML = "Джем начался";

            //window.location.reload(); // опасная штука, но в теории будет лучше всего работать
            // если на сервере поменяется статус джема, иначе дудос запросами
            // нам нужен cron/celery beat для автоматической смены статуса когда наступает время
            {% endif %}
        }
    }

    updateCountdown();

    var x = setInterval(updateCountdown, 1000);
</script>
<div id="popup1" class="overlay">
    <div class="popup">
        <form action="{% url 'upload-game' gamejam_detail.uuid %}" method="post" enctype="multipart/form-data" class="game-upload-form">
            {% csrf_token %}
            <input type="hidden" name="jam_uuid" value="{{ gamejam_detail.uuid }}">

            <div class="form-header">
                <h2>Добавьте вашу игру</h2>
                <p>Пожалуйста, заполните следующие поля</p>
                <a class="close" href="#">&times;</a>
            </div>

            <div class="form-content">
                <div class="form-group">
                    <label for="title">Название игры <span class="required">*</span></label>
                    <input
                        type="text"
                        id="title"
                        name="title"
                        class="form-input"
                        placeholder="Название вашей игры"
                        required
                    />
                </div>

                <div class="form-group">
                    <label for="description">Описание <span class="required">*</span></label>
                    <textarea
                            id="description"
                            name="description"
                            rows="4"
                            class="form-input"
                            placeholder="Опишите свою игру, ее механику, сюжет и то, что делает ее уникальной.."
                            required
                    ></textarea>
                </div>

                <div class="form-group">
                    <label>Картинка игры<span ></span></label>

                        <span class="dragBox" >
                            <span class="material-symbols-outlined upload-icon">image</span>
                            <p>Перетащите картинку сюда или
                            <span style="color: #7341ff;">нажмите</span> для загрузки</p>
                            <p class="upload-hint">Форматы: PNG, JPG, JPEG, WEBP, JFIF (Максимально: 5MB)</p>


                            <input type="file" name="image" class="uploadFile" onChange="dragNdrop(event)" ondragover="drag(event)" ondrop="drop()" accept=".png,.jpg,.jpeg,.webp,.jfif">
                        </span>
                    </div>
                    <div id="preview"></div>


                <div class="form-group">
                    <label>Файл игры <span class="required">*</span></label>


                    <span class="dragBox" >
                            <span class="material-symbols-outlined upload-icon">folder_zip</span>

                            <p>Перетащите файл сюда или
                            <span style="color: #7341ff;">нажмите</span> для загрузки</p>
                            <p class="upload-hint">Форматы: RAR, ZIP (Максимально: 3GB)</p>
                            <input type="file" name="game_file" class="uploadFile"  onChange="dragNdrop(event, false)" ondragover="drag()" ondrop="drop()" accept=".rar,.zip" required>
                        </span>
                            <div class="file-info">
                                <div class="file-details">
                                    <div class="file-meta">
                                        <span class="material-symbols-outlined file-icon">description</span>
                                        <div>
                                            <p class="file-name">my-awesome-game.zip</p>
                                            <p class="file-size">32.4 MB</p>
                                        </div>
                                    </div>

                                </div>

                    </div>
                </div>

                </div>

                <div class="form-actions">
                    <a class="btn btn-secondary cancel-button" href="#">
                        <span class="material-symbols-outlined">cancel</span> <span>Отмена</span>
                    </a>
                    <button type="submit" class="btn btn-primary submit-button">
                        <span class="material-symbols-outlined">send</span> <span>Отправить игру</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>

    function dragNdrop(event, isImg = true) {
        var fileName = URL.createObjectURL(event.target.files[0]);
        if (isImg) {
            var preview = document.getElementById("preview");
            var previewImg = document.createElement("img");
            previewImg.setAttribute("src", fileName);
            preview.innerHTML = "";
            preview.appendChild(previewImg);
        }
        else{
            var preview = document.getElementsByClassName("file-info");
            preview[0].style.display = "block";
            game_file_name_element = document.getElementsByClassName("file-name");
            game_file_name_element[0].innerHTML = event.target.files[0].name;

            game_file_size_element = document.getElementsByClassName("file-size");
            game_file_size_element[0].innerHTML = Math.round((event.target.files[0].size / 1024 / 1024)) + " MB";

        }
    }
    function drag(event) {
        event.target.parentNode.className = 'dragBox dragging';
    }
    function drop() {
        event.target.parentNode.className = 'dragBox';
    }
</script>

{% endblock %}
