{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/gmjDetail.css' %}">
{% endblock %}

{% block headercontent %}


{% endblock %}
{% block content %}
<div class="div-header">
    <div class="container-title">
        <h1>{{gamejam_detail.title}}</h1>
        <p>Тема: {{gamejam_detail.theme}}</p>
    </div>
    <!-- Название -->
</div>
<!--Вывод страницы джема-->
<div class="jam-container">
    <div class="container-date">
        {{gamejam_detail.date_start}}
        <br>
        {{gamejam_detail.date_end}}
        <!-- Даты конца и начала -->
    </div>
    <div class="upl-container">
        {% for user_game in user_games %}
        <div class="upl-card-container">
            <div class="upl-card-container-header">
                <h5>{{ user_game.user.username }}</h5>
                {% if gamejam_detail.status == 'OG' %}
                {% if request.user in gamejam_detail.users.all %}
                {% if request.user != user_game.user %}
                <form action="{% url 'count_stars' gamejam_detail.uuid user_game.user.id %}" method="post">
                    {% csrf_token %}
                    <select name="stars" id="rating">
                        <option value="5">5 Звёзд</option>
                        <option value="4">4 Звезды</option>
                        <option value="3">3 Звезды</option>
                        <option value="2">2 Звезды</option>
                        <option value="1">1 Звезда</option>
                    </select>
                    <button type="submit" class="btn-upl">Отправить оценку</button>
                </form>
                {% endif %}
                {% endif %}
                {% endif %}
            </div>
            <a href="{% url 'download_file' gamejam_detail.uuid user_game.id %}">
                {{ user_game.cleaned_name }}</a>
            </div>
        {% endfor %}
    </div>
    <!-- Перечень игр (файлы), пользователь, возможность оценивая, отправить -->
    
    <!-- Ср оценка -->
    {% if gamejam_detail.status == 'FN' %}
    
    Победитель: {{gamejam_detail.winner}}
    {% endif %}
    <!-- Тема и побеждатель -->
    {% if gamejam_detail.status == 'OG' %}
    {% if request.user in gamejam_detail.users.all %}
    <form action="{% url 'upload-game' gamejam_detail.uuid %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="game">
        <input type="hidden" name="jam_uuid" value="{{gamejam_detail.uuid}}">
        <button type="submit" class="btn btn-secondary">Отправить</button>
    </form>
    {% else %}
    <h2>Вы не можете загружать свои работы, так как вы не участник джема</h2>
    {% endif %}
    {% endif %}
    <!-- Загрузка -->
    {% if gamejam_detail.status == 'PR' %}
    {% if request.user.is_authenticated and request.user not in gamejam_detail.users.all %}
    <a href="poll" class="a-button">Принять участие</a>
    {% elif request.user.is_authenticated == False %}
    <h2>Вы не вошли в свой аккаунт</h2>
    {% else %}
    <h2>Вы участник джема, дождитесь даты начала</h2>
    {% endif %}
    {% endif %}
    <!-- Принять участие -->

    {% if gamejam_detail.status == 'FN' %}
    <table>
        <thead>
        <tr>
            <th>Имя</th>
            <th>Средняя оценка</th>
        </thead>
        <tbody>
        {% if final_rating.current_user_rating %}
        <tr>
            <td>  {{ final_rating.current_user_rating.user__username }}</td>
            <td> {{ final_rating.current_user_rating.avg_rating }}</td>
        </tr>
        {% endif %}

        {% for rating in final_rating.all_rating %}
        <tr>
            {% if rating.username == user_game.user %}
            <td> {{ rating.user__username }}</td>
            <td> {{ rating.avg_rating }}</td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('.upl-card-container').forEach(card => {
            card.addEventListener('click', function(event) {
                console.log("Clicked:", this); // Проверяем, срабатывает ли клик
                if (event.target === this || event.target.tagName === 'H5') {
                    this.classList.toggle('open');
                }
                console.log("Class list:", this.classList); // Проверяем, меняется ли класс
            });
        });
});
</script>
{% endblock %}