{% extends 'base.html' %}
{% load static %}

{% block headercontent %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
{% endblock %}

{% block sidebar %}
<div class="sidebar-container">
    <div class="filter">
        <form method="get">
            {{ filter.form.as_p }}
            <input type="submit">
        </form>
    </div>
    <script>
        $(function() {
            $("#id_date_start").datepicker({
                dateFormat: "yy-mm-dd"
            });
            $("#id_date_end").datepicker({
                dateFormat: "yy-mm-dd" //
            });
        });
    </script>
</div>
{% endblock %}

{% block content %}
<!-- Блок списка джемов -->
<div class="main-container">
    <div class="space"></div>
    <div class="row" style="padding: 1%">
        {% for jam in filter.qs %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <a href="{% url 'gamejam_detail' uuid=jam.uuid %}">
                        <img src="{% static 'img/logo.png' %}" class="card-img-top" alt="Game Jam Logo" style="padding: 3%">
                    </a>
                    <div class="card-body">
                        <div>
                            <a href="{% url 'gamejam_detail' uuid=jam.uuid %}" class="card-title">{{ jam.title }}</a>
                            <p class="card-text">{{ jam.get_status_display }}</p>
                        </div>
                        <!-- <div class="card-button-container">
                            <a href="{% url 'gamejam_detail' uuid=jam.uuid %}" class="a-button card-button">Перейти!</a>
                        </div> -->
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}