{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
{% endblock %}

{% block sidebar %}
<div class="space"></div>
<form method="get" class="filter">
    {{ filter.form.as_p }}
    <button class="btn-form">Поиск</button>
</form>
<script>
    $(function() {
        $("#id_date_start").datepicker({
            dateFormat: "yy-mm-dd"
        });
        $("#id_date_end").datepicker({
            dateFormat: "yy-mm-dd" //
        });
    });
</script>
{% endblock %}

{% block content %}
<!-- Блок списка джемов -->
<div class="main-container">
    <div class="row">
        {% for jam in filter.qs %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <a href="{% url 'gamejam_detail' uuid=jam.uuid %}">
                        <img src="{% static 'img/logo.png' %}" class="card-img-top" alt="Game Jam Logo" style="padding: 3%">
                    </a>
                    <div class="card-body">
                        <div>
                            <a href="{% url 'gamejam_detail' uuid=jam.uuid %}" class="card-title">{{ jam.title }}</a>
                            <p class="card-text">{{ jam.get_status_display }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<script>
    const inputs = document.querySelectorAll('input');
    inputs.forEach(input => {
        input.addEventListener('focus', function() {
            const label = this.previousElementSibling;
            label.classList.add('label-up');
        });
        input.addEventListener('blur', function() {
            const label = this.previousElementSibling;
            if (this.value.trim() === '') {
                label.classList.remove('label-up');
            }
        });
    });
</script>
{% endblock %}