{% extends 'base.html' %}
{% load static %}

{% block headercontent%}
<div class="container-md">
    <div class="row">
        <div class="col-12">
            <h1 class="text-start text-black">GJS!</h1>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<!--Блок списка джемов-->
<div class="container-jams">
    {% for jam in jams_list %}
        <div class="container-sm">
            <div class="block-container">
                <div class="text-container">
                    <h1>{{jam.title}}</h1>
                    <br>
                    <a href="{% url 'gamejam_detail' uuid=jam.uuid %}" class="a-button">Перейти!</a>
                </div>
                <div class="status-container">
                    <p>{{jam.get_status_display}}</p>
                </div>
                <img src="{% static 'img/logo.png' %}">
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}