{% extends 'base.html' %}
{% load static %}

{% block headercontent %}
<div class="container-title">
    <h1>Опрос на джем</h1>
</div>
{% endblock %}

{% block content %}
<!--<form action="{% url 'submit' poll_jam_uuid.uuid %}" method="post">-->
<!--    {% csrf_token %}-->
<!--    -->
<!--</form>-->
<div class="question">
    <p class="question-text"></p>
    <button class="poll-button yes-button" type="button" name="yes"
            onclick="change_question(1)">Да
    </button>
    <button class="poll-button no-button" type="button" name="no"
            onclick="change_question(-1)">Нет
    </button>
</div>
<script>
    let currentQuestionID = 0;
    const questions = {{ poll_list_json|safe }};
    const questionField = document.querySelectorAll('.question');
    const questionText = document.querySelector('.question-text');
    console.log(questionField);

    questions.forEach((element) => console.log(element.text));
    questions.forEach((element) => console.log(element.id));
    console.log(questions.length);

    if (questions.length != 0) {
        questionText.innerText = questions[currentQuestionID].text;
    }

    function change_question(answer){
        questions[currentQuestionID].decision = answer;
        console.log(questions[currentQuestionID].decision);
        currentQuestionID++;
        if (currentQuestionID >= questions.length) {
            send_answer_to_server();
        }
        else {
            questionText.innerText = questions[currentQuestionID].text;
        }
    }

    function send_answer_to_server(){
        const formData = new FormData();
        formData.append('result', questions);

        fetch("{% url 'submit' poll_jam_uuid.uuid %}", {
            method: 'POST',
            headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ result: questions })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error("Don't exist response");
            }
            return response.json();
        })
        .then(data => {
            if (data.message) {
                alert(data.message);
                window.location.href = "{% url 'gamejam_detail' poll_jam_uuid.uuid %}";
            }
        });
    }
</script>
{% endblock %}

{% block footercontent %}
{% endblock %}