{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock head %}

{% block content %}
<div class="reg-form">
    <div class="container-title">
        <h1>Опрос на джем</h1>
    </div>
    <p class="question-text"></p>
    <div class="question">
        <button class="poll-button" type="button" name="yes"
                onclick="change_question(true)">Да
        </button>
        <button class="poll-button" type="button" name="no"
                onclick="change_question(false)">Нет
        </button>
    </div>
</div>
<div id="circle-container"></div>
<script>
    let currentQuestionID = 0;
    const questions = {{ poll_list_json|safe }};
    const questionField = document.querySelectorAll('.question');
    const questionText = document.querySelector('.question-text');


    if (questions.length != 0) {
        questionText.innerText = questions[currentQuestionID].theme;
    }

    function change_question(answer){
        questions[currentQuestionID].decision = answer;

        currentQuestionID++;
        if (currentQuestionID >= questions.length) {
            send_answer_to_server();
        }
        else {
            questionText.innerText = questions[currentQuestionID].theme;
        }
    }

    function send_answer_to_server(){
        const formData = new FormData();
        formData.append('result', questions);
        fetch("{% url 'submit' poll_jam_uuid.uuid %}", {
            method: 'POST',
            headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ result: questions })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error("Don't exist response");
            }
            return response.json();
        })
        .then(data => {
            if (data.message) {
                alert(data.message);
                window.location.href = "{% url 'gamejam_detail' poll_jam_uuid.uuid %}";
            }
        });
    }
</script>
<script>
    const container = document.getElementById('circle-container');
    for (let i = 0; i < 4; i++) {
        console.log("aaaa" + i);
        div = document.createElement('div');
        div.className = 'circle';
        container.appendChild(div);
    }

    const circles = document.querySelectorAll('.circle');

    container.addEventListener('mousemove', (e) => {
        const rect = container.getBoundingClientRect();
        const mouseX = e.clientX - rect.left;
        const mouseY = e.clientY - rect.top;

        circles.forEach(circle => {
            const circleRect = circle.getBoundingClientRect();
            const circleX = circleRect.left + circleRect.width / 2;
            const circleY = circleRect.top + circleRect.height / 2;

            const dx = circleX - e.clientX;
            const dy = circleY - e.clientY;

            // Нормализуем вектор и умножаем на дистанцию
            const distance = Math.sqrt(dx * dx + dy * dy);
            const moveX = (dx / distance) * 20;
            const moveY = (dy / distance) * 20;

            circle.style.transform = `translate(${moveX}px, ${moveY}px)`;
        });
    });

    container.addEventListener('mouseleave', () => {
        circles.forEach(circle => {
            circle.style.transform = 'translate(0, 0)';
        });
    });
</script>
{% endblock %}
{% block footercontent %}
{% endblock %}