{% extends 'base.html' %} {% load static %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/gmjDetail.css' %}" />
<link rel="stylesheet" href="{% static 'css/popup.css' %}" />
<link rel="stylesheet" href="{% static 'css/gmjCreate.css' %}" />
<link
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    rel="stylesheet"
/>{%endblock%} {% block headercontent %} {%endblock%} {% block content %}
<div class="gamejam-create-grid">
    <div class="gamejam-create-form">
        <form action="" method="post">
            {% csrf_token %}
            <div>
                <h1>Создание команды</h1>
            </div>

            <div class="form-content">
                <div class="form-input-group">
                    <label for="title">
                        <p>Название команды <span>*</span></p></label
                    >
                    <input
                        type="text"
                        id="title"
                        name="title"
                        class="form-input"
                        placeholder="Название вашей команды"
                        required
                    />
                </div>

                <div class="form-input-group">
                    <label for="description"
                        ><p>Описание команды</p></label
                    >
                    <textarea
                        id="description"
                        name="description"
                        rows="4"
                        class="form-input"
                        placeholder="Опишите ваш геймджем, какие у него правила (если правил нет, геймджем работает по правилам сайта)"
                    ></textarea>
                </div>
            </div>

            </button>

            <div id="formError" class="error-field"></div>

            <button
                id="createBtn"
                type="submit"
                class="btn btn-primary submit-button"
            >
                Создать
            </button>
        </form>
    </div>
</div>

<script>
    const title = document.getElementById("title");
    const theme = document.getElementById("theme");

    const dateStartInput = document.getElementById("date_start");
    const dateEndInput = document.getElementById("date_end");
    const dateRatingInput = document.getElementById("date_rating");

    const createBtn = document.getElementById("createBtn");

    function validateForm() {
        const isTitleValid = validateTitle();
        const isThemeValid = validateTheme();
        const isDatesValid = validateDateOrder();

        if (isTitleValid && isThemeValid && isDatesValid) {
            createBtn.disabled = false;
        } else {
            createBtn.disabled = true;
        }
    }

    function validateTitle() {
        if (!title.value) return false;
        const value = title.value.trim();

        if (value.length < 3) {
            showError("formError", "Название должно быть не менее 3 символов");
            return false;
        }

        clearErrors("formError");
        return true;
    }

    function showError(elementId, message) {
        const errorElement = document.getElementById(elementId);
        if (errorElement) {
            errorElement.textContent = message;
            errorElement.classList.add("visible");
            console.log("showError ошибка");
        }
    }

    function clearErrors(elementId) {
        const errorElement = document.getElementById(elementId);
        if (errorElement) {
            errorElement.textContent = "";
            errorElement.classList.remove("visible");
            console.log("showError ошибка");
        }
    }

    title.addEventListener("input", function () {
        validateTitle();
        validateForm();
    });
    theme.addEventListener("input", function () {
        validateTheme();
        validateForm();
    });

    validateForm();
</script>
{% endblock %}
