{% extends 'base.html' %}

{% block content %}
<form method="post" class="reg-form">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="text-form">
        <a href="{% url 'regist' %}" class="reg-text">Нет аккаунта?</a>
        <a href="" class="reg-text">Забыли пароль</a>
    </div>
    <button class="btn-form">Войти</button>
</form>
<div id="circle-container"></div>

<script>
    const container = document.getElementById('circle-container');
    const inputs = document.querySelectorAll('input');
    inputs.forEach(input => {
        console.log(input);
        input.addEventListener('focus', function() {
            console.log(this);
            const label = this.previousElementSibling;
            label.classList.add('label-up');
        });
        input.addEventListener('blur', function() {
            console.log(this);
            const label = this.previousElementSibling;
            if (this.value.trim() === '') {
                label.classList.remove('label-up');
            }
        });
    });

    for (let i = 0; i < 4; i++) {
        div = document.createElement('div');
        div.className = 'circle';
        container.appendChild(div);
    }
</script>
{% endblock %}