{% extends 'base.html' %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock head %}


{% block content %}
<form method="post" class="reg-form">
    {% csrf_token %}
    <h1>Вход</h1>
    {{ form.as_p }}
    <div>
        <div>
            <div class="text-form">
                <a href="{% url 'regist' %}" class="reg-text">Нет аккаунта?</a>
                <a href="" class="reg-text">Забыли пароль</a>
            </div>
            <button class="btn-form">Войти</button>
        </div>
    </div>
</form>
<div id="circle-container"></div>

<script src="{% static '/dynamic/poll_circle.js' %}"></script>
{% endblock %}