{% extends 'base.html' %}
{% load static %}
{% load django_vite %}

{% block head %}
{% vite_asset 'src/main.jsx' %}
{% endblock %}

{% block content %}
<div id="notifications"></div>
<div id="react-notifications-root"></div>
<!--
<script src="{% static 'jams/js/assets/main-CmQbCmDE.js' %}"></script>-->
<script>
    const notifContainer = document.getElementById("notifications");
    const socket = new WebSocket(
        "ws://" + window.location.host + "/ws/notifications/",
    );

    socket.onopen = function () {
        console.log("WebSocket connected");
    };
</script>
{% endblock %}
