{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock head %}

{% block content %}
<form method="post" class="reg-form">
    <h1>Регистрация</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <div>
        <div class="text-form">
            <a href="{% url 'login' %}" class="reg-text">Есть аккаунт?</a>
        </div>
        <button class="btn-form">Зарегистрироваться</button>
    </div>  
</form>
<div id="circle-container"></div>

<script>
    const container = document.getElementById('circle-container');
    const inputs = document.querySelectorAll('input');
    inputs.forEach(input => {
        console.log(input);
        input.addEventListener('focus', function() {
            console.log(this);
            const label = this.previousElementSibling;
            label.classList.add('label-up');
        });
        input.addEventListener('blur', function() {
            console.log(this);
            const label = this.previousElementSibling;
            if (this.value.trim() === '') {
                label.classList.remove('label-up');
                this.value = '';
            }
        });
    });

    for (let i = 0; i < 4; i++) {
        div = document.createElement('div');
        div.className = 'circle';
        container.appendChild(div);
    }
</script>
{% endblock %}