{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/avatar.css' %}" />
<link rel="stylesheet" href="{% static 'css/content.css' %}" />
<link rel="stylesheet" href="{% static 'css/popup.css' %}" />
{% endblock head %} {% block headButtons %}

{% endblock %} {% block content %}
<div class="profile-container">
    <div class="profile-sidebar">
        <div class="sidebar-elem">
            Джемоварня
            <div class="sidebar-elem-links">
                {% if request.user.id == profile_data.id %}
                <a href="{% url 'create_jam' %}" class="sidebar-elem-link"
                    >Создать джем</a
                >
                {% endif %}
                <a href="{% url 'my_jams' %}" class="sidebar-elem-link"
                    >Список джемов</a
                >
            </div>
        </div>
        <div class="sidebar-elem">
            Игродельня
            <div class="sidebar-elem-links">
                {% if request.user.id == profile_data.id %}
                <a href="{% url 'create_game' %}" class="sidebar-elem-link">Опубликовать игру</a>
                {% endif %}
                <a href="{% url 'my_games' %}" class="sidebar-elem-link">Список игр </a>
            </div>
        </div>
        <div class="sidebar-elem">
            Командирование
            <div class="sidebar-elem-links">
                {% if not first_created_team %}
                    {% if request.user.id == profile_data.id %}
                    <a href="{% url 'create_team' %}" class="sidebar-elem-link"
                        >Создать команду</a
                    >
                    {% endif %}
                {% elif first_created_team %}
                    <a
                        href="{% url 'team_detail' first_created_team.id %}"
                        class="sidebar-elem-link"
                        >{{ first_created_team.name }}</a
                    >
                {% endif %}

                {% if request.user.id == profile_data.id %}
                <a href="{% url 'notifications' %}" class="sidebar-elem-link"
                    >Уведомления</a
                >
                {% endif %}
            </div>
        </div>
        {% if request.user.id == profile_data.id %}
        <div class="sidebar-elem">
            Постирование
            <div class="sidebar-elem-links">
                <a href="{% url 'create_post' %}" class="sidebar-elem-link">Написать пост</a>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="profile">
        <div class="hat-banner">
            {% if profile_data.hat_image %}
            <img
                src="{{ profile_data.hat_image.url }}"
                alt="Шапка"
                id="hat-img"
            />
            {% endif %}
        </div>

        <div class="profile-foreground">
            <div></div>
            <div class="user-content">
                <div class="content-body">
                    {% if posts is None %}
                        Контента нет
                    {% else %}
                    {% load markdown_widget %}
                        {% for post in posts %}

                        <div class="post-form">
                            <div class="post-meta">
                                <div class="post-header">
                                    <div class="post-author">
                                        <div class="post-avatar">
                                            <img
                                                src="{{ post.author.avatar_image.url }}"
                                                alt="Аватар"
                                                id="avatar-img"
                                            />
                                        </div>
                                        <div class="author-meta">
                                            <p>{{ post.author }}
                                                {% if post.team %}
                                                    Команда: <a class="a-content" href="{% url 'team_detail' post.team.id %}">{{ post.team }}</a>
                                                {% endif %}
                                            </p>
                                            <span>{{ post.created_at }}</span>
                                        </div>
                                    </div>
                                    {% if post.author == request.user %}
                                    <div class="post-settings-{{ post.id }}">
                                        <button class="settings-button" id="settingsBtn-{{ post.id }}">
                                            <img
                                                src="{% static 'img/icons8-settings-50.png' %}"
                                            />
                                        </button>
                                        <div class="drop-menu" id="drop-menu-{{ post.id }}">
                                            <a href="{% url 'edit_post' post_id=post.id %}">Редактировать</a>
                                            <a href="#popup-delete-{{post.id}}">Удалить</a>
                                            <a href=""></a>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="post-title">
                                    <h3>{{ post.title }}</h3>
                                </div>
                            </div>
                            <a class="a-content" href="{% url 'post_detail' post.id %}">
                                <div class="post-content">
                                    {{ post.content|truncatewords:50|markdown }}
                                </div>
                            </a>
                        </div>

                        {% include "pages/partials/delete_post_popup.html" %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div id="hat">
            <div class="avatar-block">
                <div>
                    <label for="avatar-input" id="avatar">
                        {% if request.user.is_authenticated and request.user.id == profile_data.id %}
                        <input
                            id="avatar-input"
                            type="file"
                            name="avatar_image"
                            accept="image/png, image/jpeg, image/jpg, image/webp, image/jfif"
                        />
                        {% endif %} {% if profile_data.avatar_image %}
                        <img
                            src="{{ profile_data.avatar_image.url }}"
                            alt="Аватар"
                            id="avatar-img"
                        />
                        {% endif %}
                    </label>
                </div>

                <h2 class="display-5" style="text-align: center">
                    {{ profile_data.username }}
                </h2>
                <h4 style="text-align: center">{{ profile_data.email }}</h4>

                {% if request.user.is_authenticated and request.user.id == profile_data.id %}
                <label for="hat-input" id="hat-btn">
                    Изменить шапку
                    <input
                        id="hat-input"
                        type="file"
                        name="hat_photo"
                        accept="image/png, image/jpeg, image/jpg, image/webp,
                    image/jfif"
                    />
                </label>
                <span class="load-photo-status" style="color: white"></span>
                {% endif %}

                <div class="subscribe-div">
                    {% if request.user.is_authenticated and request.user.id != profile_data.id %}
                        {% if request.user in subscribers %}
                        <button
                            class="unfollow-button"
                            id="unsubs"
                            name="unfollow"
                            value="{{ request.user.username }}"
                        >
                            Отписаться
                        </button>
                        {% else %}
                        <button
                            class="follow-button"
                            id="subs"
                            name="follow"
                            value="{{ request.user.username }}"
                        >
                            Подписаться
                        </button>
                        {% endif %}
                    {% endif %}

                    <div class="subs-num">
                        {{ subscribers_count }} подписчиков
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>

    <div class="user-st">
        <div class="user_games">
            <h5>История участия</h5>
            <div class="user_games-files">
                {% for jam in past_jams %}
                <a href="{% url 'gamejam_detail' uuid=jam.uuid %}">
                    <div class="past-jam-card">
                        <p>{{ jam.title }}</p>
                        <p>Тема: {{ jam.theme }}</p>
                        <p>Рейтинг игры: {{ jam.user_rating }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>

        <div class="user_games">
            <h5>Разработанные игры</h5>
            <div class="user_games-files">
                {% for game in user_games %}
                <div>
                    {% if game.jam_uuid %}
                    <a
                        href="{%  url 'jam_game_page' game.jam_uuid.uuid game.slug  %}"
                    >
                        {{ game.title }}
                    </a>
                    {{ game.uploaded_time }}
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %} {% block footercontent %}

    <script src="{% static '/dynamic/profile_dropdown_list.js' %}"></script>

    <script src="{% static '/dynamic/settings_button.js' %}"></script>

    {{ upload_data|json_script:"upload-data"}}
    <script src="{% static '/dynamic/profile_photo.js' %}"></script>

    {{ follow_data|json_script:"follow-data" }}
    <script src="{% static '/dynamic/subscribe_button.js' %}"></script>
</div>

{% endblock %}
