{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/avatar.css' %}">
{% endblock head %}

{% block headButtons %}
    <li><a href="{% url 'redactor' request.user.username %}" class="menu-button">Дизайн</a></li>
    <li><a href="" class="menu-button">Написать пост</a></li>
{% endblock %}

{% block content %}
<div class="profile">
    {% if profile_data.hat_image %}
    <img src="{{ profile_data.hat_image.url }}" alt="Аватар" id="hat-img">
    {% endif %}
    <div id="hat">
        <div class="avatar-block">
            <div id="avatar">
                {% if profile_data.avatar_image %}
                <img src="{{ profile_data.avatar_image.url }}" alt="Аватар" id="avatar-img">
                {% endif %}
            </div>
                <h2 class="display-5" style="text-align: center">{{ profile_data.username }}</h2>
                <h2 class="text-muted" style="text-align: center">{{ profile_data.email }}</h2>

            {% if request.user.is_authenticated and request.user.id == profile_data.id %}
                <form method="post"
                      id="avatarForm" enctype="multipart/form-data"><!--action="{% url 'avatar_photo' request.user.username %}"-->
                    {% csrf_token %}
                    <input type="file" name="photo">
                    <button type="submit">Загрузить фото</button>
                </form>
                <button style="margin-top: 10px;">Установить шапку</button>
            {% endif %}
        </div>
    </div>
    <br>
</div>



<div class="history">
    <p>История участия:</p>
    {% for jam in past_jams %}
    <a href="{% url 'gamejam_detail' uuid=jam.uuid %}">
        <div class="past-jam-card">
            <p>{{ jam.title }}</p>
            <p>Тема: {{ jam.theme }}</p>
            <p>Рейтинг игры: {{ jam.user_rating }}</p>
        </div>
    </a>
{% endfor %}

<script>
    var url = "{% url 'avatar_photo' request.user.username %}";
    $("#avatarForm").on('submit', function(e) {
        e.preventDefault();
        var formData = new FormData(this);

        $.ajax({
            type: 'POST',
            url: url,
            data: formData,
            processData: false,
            contentType: false,
            success: function(response){
                alert('success');
            },
            error: function(xhr, status, error) {
                    alert('Ошибка при загрузке файла: ' + error);
            }
        });
    });
</script>
{% endblock %}

{% block footercontent %}
{% endblock %}