<!--Можно ли это отправить в отдельный HTML-файл и вызывать его оттуда?-->
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('.upl-card-container').forEach(card => {
            card.addEventListener('click', function(event) {
                console.log("Clicked:", this); // Проверяем, срабатывает ли клик
                if (event.target === this || event.target.tagName === 'H5') {
                    this.classList.toggle('open');
                }
                console.log("Class list:", this.classList); // Проверяем, меняется ли класс
            });
        });
});
</script>

<div id="popup1" class="overlay">
    <div class="popup">
        <form action="{% url 'upload-game' object.uuid %}" method="post" enctype="multipart/form-data" class="game-upload-form">
            {% csrf_token %}
            <input type="hidden" name="jam_uuid" value="{{ object.uuid }}">

            <div class="form-header">
                <h2>Добавьте вашу игру</h2>
                <p>Пожалуйста, заполните следующие поля</p>
                <a class="close" href="#">&times;</a>
            </div>

            <div class="form-content">
                <div class="form-group">
                    <label for="title">Название игры <span class="required">*</span></label>
                    <input
                        type="text"
                        id="title"
                        name="title"
                        class="form-input"
                        value="{{ current_user_game.title }}"
                        placeholder="Название вашей игры"
                        required
                    />
                </div>

                <div class="form-group">
                    <label for="description">Описание <span class="required">*</span></label>
                    <textarea
                            id="description"
                            name="description"
                            rows="4"
                            class="form-input"
                            placeholder="Опишите свою игру, ее механику, сюжет и то, что делает ее уникальной.."
                            required
                    >{{ current_user_game.description }}</textarea>
                </div>

                <div class="form-group">
                    <label>Картинка игры<span ></span></label>

                    <span class="dragBox" >
                        <span class="material-symbols-outlined upload-icon">image</span>
                        <p>Перетащите картинку сюда или
                            <span style="color: #7341ff;">нажмите</span> для загрузки</p>
                        <p class="upload-hint">Форматы: PNG, JPG, JPEG, WEBP, JFIF (Максимально: 5MB)</p>
                            <input type="file" name="image" class="uploadFile" onChange="dragNdrop(event)" ondragover="drag(event)" ondrop="drop()" accept=".png,.jpg,.jpeg,.webp,.jfif"
                            value="{{ current_user_game.image }}">
                        </span>
                    </div>
                    <div id="preview">{% if current_user_game.image %}
                        <img src="{{ current_user_game.image.url }}" alt="">
                    {% endif %}
                    </div>

                <div class="form-group">
                    <label>Файл игры <span class="required">*</span></label>


                    <span class="dragBox">
                            <span class="material-symbols-outlined upload-icon">folder_zip</span>

                            <p>Перетащите файл сюда или
                            <span style="color: #7341ff;">нажмите</span> для загрузки</p>
                            <p class="upload-hint">Форматы: RAR, ZIP (Максимально: 3GB)</p>
                            <input type="file" name="game_file" class="uploadFile"  onChange="dragNdrop(event, false)" ondragover="drag()" ondrop="drop()" accept=".rar,.zip" required>
                        </span>
                            <div class="file-info" style="display: none;">
                                <div class="file-details">
                                    <div class="file-meta">
                                        <span class="material-symbols-outlined file-icon">description</span>
                                        <div>
                                            <p class="file-name">{{ current_user_game.game_file.name|slice:"12:" }}</p>
                                        </div>
                                    </div>

                                </div>

                    </div>
                </div>

                </div>

                <div class="form-actions">
                    <a class="btn btn-secondary cancel-button" href="#">
                        <span class="material-symbols-outlined">cancel</span> <span>Отмена</span>
                    </a>
                    <button type="submit" class="btn btn-primary submit-button">
                        <span class="material-symbols-outlined">send</span> <span>Отправить игру</span>
                    </button>
                </div>
            <!--</div>-->
        </form>
    </div>
</div>
<script>

    function dragNdrop(event, isImg = true) {
        var fileName = URL.createObjectURL(event.target.files[0]);
        if (isImg) {
            var preview = document.getElementById("preview");
            var previewImg = document.createElement("img");
            previewImg.setAttribute("src", fileName);
            preview.innerHTML = "";
            preview.appendChild(previewImg);
        }
        else{
            var preview = document.getElementsByClassName("file-info");
            preview[0].style.display = "block";
            game_file_name_element = document.getElementsByClassName("file-name");
            game_file_name_element[0].innerHTML = event.target.files[0].name;

            game_file_size_element = document.getElementsByClassName("file-size");
            game_file_size_element[0].innerHTML = Math.round((event.target.files[0].size / 1024 / 1024)) + " MB";

        }
    }
    function drag(event) {
        event.target.parentNode.className = 'dragBox dragging';
    }
    function drop() {
        event.target.parentNode.className = 'dragBox';
    }
</script>
