/* Классы для user_profile */
.avatar-block {
    padding: 0.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#hat {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-45%) translateX(-50%);
    display: flex;
    justify-content: center;
    padding: 25px;
    width: 27%;
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(50px);
    border-radius: 15px;
    overflow: hidden;
}

#avatar-input {
  opacity: 0;
  width: 0px;
}


label {cursor: pointer;}

#avatar {
    display: flex;
    width: 250px;
    height: 250px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;

    outline: 2px solid #696AE0;
    transition: 200ms ease-in-out;
}

#avatar:hover {
  outline: 6px solid #696AE0;
}

.nickname {
    color: #ff6b6b;
}

.mail {
    color: rgb(82, 82, 82);
}

.btn-avatar {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 4px;
    padding: 5px;
    color: #fff;
}

#avatar-img {
    width: auto;
    height: 100%;
}

.modify-profile{
    padding: 10px;
}

.profile {
    /* position: relative; */
    height: 90vh;
    width: 100%;
    overflow: hidden;
}

#hat-img {
    position: absolute;
    width: 100%;
    inset:  0 0 0 0;
    height: auto;
    z-index: -1;
}

.avatar-block button {
    margin-top: 10px;
}

.past-jam-card {
    padding: 40px; 
    border-radius: 
    20px;background: rgb(2,0,36);
    background: #fff;
}

.custom-file-label {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 4px;
    padding: 5px;
    color: #fff;
}

.user-st {
    font-size: 20px;
    margin: 20px 5% 50px 5%;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.user_games {
    position: relative;
    padding: 0.9em 0.9em 0.1em 0.9em;
    cursor: pointer;
    background-color: #2a2f3d;
    border-radius: 10px;
    transition: 150ms ease;
    /* height:3em;
    overflow: hidden; */
    display: grid;
    grid-template-rows: 0 0fr;
}

.user_games::after {
    content: '<';
    font: 17px "Consolas", monospace;
    position: absolute;
    left: 20px;
    top: 1.3em;
    transform: rotate(180deg);
    pointer-events: none;
}

.open {
    grid-template-rows: 1.05em 1fr;
}

.user_games.open::after {
    transform: rotate(270deg);
}

/* .upl-card-container-header {
    display: flex;
} */

.user_games h5 {
    margin: 0 20px;
}

.user_games-files {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    overflow: hidden;
}