@import url(https://fonts.googleapis.com/css?family=Lato:100,400);


.div-header {
    
}

/* Обратный отсчет */
#countdown, .countdown-status{
    text-align: center;
}

.countdown-element {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.countdown-element span {
  display: block;
  font-size: 4.5rem;
}