.banner {
    width: 100%;
    height: 88.8vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .slider {
    position: absolute;
    /* поменять */
    width: 134px;
    height: 200px; 
    top: 15%;
    left: calc(50% - 67px);
    transform-style: preserve-3d;
    animation: slider 30s linear infinite;
    z-index: 2;
}


@keyframes slider {
    from {
        transform: perspective(1000px) rotateX(-10deg) rotateY(0deg);
    } 
    to {
        transform: perspective(1000px) rotateX(-10deg) rotateY(-360deg);
    }
}

.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform:
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg ))
        translateZ(440px);
}

.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .slider-content {
    position: absolute;
    display: flex;
    align-items: end;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
}

.banner .slider-content .model {
    width: 200%;
    height: 55vh;
    bottom: 0;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top center;
}

.banner .gmj-content {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    left: 50%;
    transform: translateX(-45%);
    width: 100vw;
    bottom: 80px;
    z-index: 3;
}

.banner .gmj-content h1 {
    position: relative;
    font-family: 'ICA Rubrik';
    font-size: 170px;
    color: transparent;
    -webkit-text-stroke: 2px #eeeeee;
    margin: 0;
}

.banner .gmj-content h1 span {
    background: linear-gradient(90deg, #ff3d3a, #9736ff);
    background-clip: text;
    color: transparent;
}

.banner .gmj-content .slider-text {
    padding-left: 30px;
}

.banner .gmj-content h2 {
    text-align: start;
}
